@use '../../sass/variables' as *;

.scheduler {

    height: 100vh;

    color: $white;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        color: $white;
        margin-bottom: 1rem;
    }




    &__table {

        width: 70%;
        display: flex;
        justify-content: center;
        border: 1px solid $header-background;
        border-radius: 10px;
        margin: 0 20px;

        table {
            margin-bottom: 2rem;
            width: 100%;
            border-radius: 40px;
            font-size: 16px;
            width: 80%;
            border-collapse: collapse;
            text-align: center;

            thead {
                border-bottom: 2px solid $white;
            }

            th {
                height: 70px;

            }

            tbody {
                td {
                    padding-top: 15px;
                    border: 1px solid $white;

                }

                tr {
                    height: 50px;


                }

                tr:nth-child(odd) {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                tr:nth-child(even) {
                    background-color: rgba(255, 255, 255, 0.2);
                }

                tr:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                }

                td:nth-child(1) {
                    width: 35%;
                }

                td:nth-child(2) {
                    width: 35%;
                }

                td:nth-child(3) {
                    width: 100%;
                }

            }

            input {
                background: transparent;
                border: 0;
                color: $white;
                width: 60%;
                font-style: italic;
            }

            ::placeholder {
                text-align: center;
                color: $white;
                opacity: 1;
                font-size: 16px;
            }

        }
    }




    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        img {
            width: 35px;
            height: 30px;
            cursor: pointer;
        }

        button {
            background-color: transparent;
            border: 0;
        }
    }



    input[type=checkbox] {
        width: 20px;
        height: 20px;
    }


}